* {
  border: solid 1px red;
}

/* general */

:root {
  font-family: 'Noto Sans', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border: solid 4px black;
  border-radius: 8px;
  margin: 5vh auto;
  max-width: 750px;
}

h2 {
  margin-left: 15px;
}

h4 {
  margin-left: 25px;
}

p {
  margin: 0;
}

button {
  display: flex;
  border: none;
  background-color: transparent;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

input {
  margin-left: 5px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* header */

.header-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.header-section .header-item:first-child {
  margin-top: 30px;
}

.header-section .header-item:last-child {
  margin-bottom: 15px;
}

.header-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.header-name {
  font-size: x-large;
  font-weight: 600;
}

.header-email,
.header-phone {
  font-size:small ;
}

.header-button {
  margin-left: 10px;
}

/* multiple sections */
.education-header,
.work-history-header,
.work-history-task-header {
  display: flex;
  align-items: center;
}

.form-input label {
  display: flex;
  align-items: center;
}

.add-item-button {
  margin-left: auto;
  margin-right: 15px;
}

/* education and work section */
.form-input ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 25px;
  padding: 0;
  list-style: none;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: start;
  margin: 0 15px 0 25px
}

.contents > p:first-child {
  font-size: large;
  font-weight: 600;
}

.contents > p:last-child {
  font-size: small;
  font-style: italic;
}

.education-dates,
.work-history-dates {
  justify-self: end;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.button-group button:first-child {
  margin-right: 15px;
}